.App {
  text-align: center;
}
html,
body,
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
}
nav {
  display: flex;
}
nav > h3 {
  grid-area: h3;
  justify-content: center;
  text-align: center;
  position: relative;
}
nav > ul {
  grid-area: ul;
  display: flex;
  align-content: start;
  width: 35rem;
}

nav > ul > a {
  margin: 1rem;
}
nav > ul > a > li {
  list-style-type: none;
}
nav > ul > a:nth-child(1) {
  color: aqua;
  grid-area: ul1;
}
