.App {
  text-align: center;
}
html,
body,
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  color: #fff0f5;
  background: linear-gradient(to left, #e66465, #9198e5);
}
nav {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #e66465, #9198e5);
}
nav > h3 {
  grid-area: h3;
  justify-content: center;
  text-align: center;
  position: relative;
}
nav > ul {
  grid-area: ul;
  display: flex;
  align-content: start;
  width: 35rem;
  justify-content: space-between;
  list-style-type: none;
  color: #fff0f5;
}
nav > ul > li:nth-child(1) {
  display: flex;
}
nav > ul > li:nth-child(1) > * {
  margin: 0 1rem;
}
nav > ul > li:nth-child(2) {
}
